@charset "UTF-8";
.main-container {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

/********Section du logo********/
.en-tete {
  display: flex;
  align-items: center;
  height: 63px;
  width: 100%;
  position: relative;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.en-tete img {
  width: 162px;
  height: 44px;
  padding: 0px;
}

/******Section de la localisation********/
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #eaeaea;
  gap: 17px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.localisation img {
  width: 12px;
  height: 16px;
  align-items: center;
}

/******Section de la réservation des menu**********/
.exploration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 290px;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  padding: 0px 10px;
}
.exploration h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px 20px;
}
.exploration p {
  font-size: 18px;
  margin-top: 15px;
  color: #353535;
  font-weight: 300;
}

.button {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  margin-top: 16px;
  transition: background 2s;
}
.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}
.button .button a {
  text-decoration: none;
}
.button .butoon a:visited {
  text-decoration: none;
  color: inherit;
}

/********Section pour le fonctionnement*********/
.position-total {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  gap: 30px;
  position: relative;
  justify-content: center;
}
.fonctionnement h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  height: 30px;
  width: 100%;
  padding-bottom: 10px;
}

.position-rectangle {
  display: flex;
  flex-direction: column;
  left: 0px;
  position: relative;
  justify-content: center;
  width: 100%;
}

.position-total {
  max-width: 1080px;
  margin: 0px auto;
}

.rectangle {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 72.4px;
  margin-bottom: 20px;
  box-sizing: border-box;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 500;
}
.rectangle .pastille {
  display: flex;
  background: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 99px;
  color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  transform: translate(-10px, 0px);
}
.rectangle .petiteIcone {
  display: flex;
  margin: 0px 15px;
  gap: 20px;
}

/******Section de la presentation des différents restaurants***********/
.restaurant {
  background-color: #f6f6f6;
  padding: 30px 30px 40px 30px;
  flex-direction: column;
  display: flex;
  text-decoration: none;
  justify-items: center;
}
.restaurant h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  display: flex;
}

.positionRestauTotal {
  max-width: 1040px;
  margin: 0px auto;
}

.positionCadre {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.cadre {
  background-color: white;
  border-radius: 15px;
  height: 271px;
  position: relative;
  justify-content: center;
}
.cadre img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.cadre .conteneur {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  text-decoration: none;
}
.cadre .conteneur .conteneurTitre {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  margin: 0px;
  padding-top: 10px;
  width: 100%;
  text-decoration: none;
}
.cadre .conteneur .conteneurTexte {
  display: flex;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.cadre .etiquette {
  display: flex;
  background-color: #99E2D0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  height: 29px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  right: 12px;
  top: 12px;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.positionCadre a {
  text-decoration: none;
}

.positionCadre a:visited {
  text-decoration: none;
  color: inherit;
}

.coeur-vide {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 30px;
  right: 20px;
  /*rajouté pour le test*/
  font-size: 25px;
  /*test*/
}
.coeur-vide:hover {
  background-color: #FF79DA;
  border: none;
}

.coeur-rempli {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 30px;
  right: 0px;
  opacity: 0;
  transition: all 2s;
}
.coeur-rempli:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
}

/*****************************Pied de page************************************/
footer {
  background-color: #353535;
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer h3 {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin: 0px;
}

li {
  display: flex;
  padding-top: 7px;
  gap: 10px;
}

/*.....................Le responsive de le pade d'accueil.............................*/
@media screen and (min-width: 768px) {
  .en-tete {
    height: 96px;
  }
  .exploration {
    height: 220px;
    padding: 30px 0px;
  }
  .exploration h1 {
    font-size: 40px;
  }
  .exploration p {
    margin-top: 30px;
  }
  .fonctionnement {
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
  }
  .fonctionnement .fonctionnement.h1 {
    padding-left: 80px;
  }
  .position-rectangle {
    flex-direction: row;
    gap: 30px;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .petiteIcone {
    flex-wrap: nowrap;
  }
  .restaurant {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .positionCadre {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    display: flex;
  }
  .positionCadre a {
    width: 45%;
  }
  .cadre {
    flex: 100;
  }
  footer {
    height: 54px;
    flex-direction: row-reverse;
    padding: 30px 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
  }
  footer h3 {
    width: 150px;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    align-content: stretch;
  }
  li {
    gap: 10px;
    justify-content: space-around;
    margin-right: 20px;
  }
}
/*-_-_-_-_-_-_-_-Loader_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.loader-container {
  border-radius: 5px;
  background: #333;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  opacity: 0.99;
  animation: stop-loader 0.5s 2s forwards;
}

.loader {
  display: block;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #9356DC;
  animation: spin 2s linear infinite;
}

.loader::before, .loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #99E2D0;
  animation: spin 3s linear infinite;
}

.loader::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: #f6f6f6;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes stop-loader {
  to {
    transform: scale(0);
  }
}
/* -_-_-_-_-_ Les pages des restaurants _-_-_-_-_-_-_-_-_*/
.main-container2 {
  width: 100%;
}

.localisation2 {
  display: flex;
  width: 100%;
}
.localisation2 img {
  height: 290px;
  width: 100%;
  object-fit: cover;
}

.en-tete2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 100%;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 1.8rem;
}
.en-tete2 img {
  width: 162px;
  height: 44px;
  padding: 0px;
}

.fleche {
  display: inline-flex;
  color: #353535;
  position: absolute;
  left: 25px;
}

.fond-arrondi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  top: -60px;
  width: 100%;
  position: relative;
}

.gros-titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.gros-titre h1 {
  font-family: "Shrikhand", serif;
  font-size: 1.17rem;
  font-weight: 600;
}
.gros-titre .coeur-vide2 {
  /*rajouté pour le test*/
  font-size: 25px;
  /*test*/
}
.gros-titre .coeur-vide2:hover {
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border: none;
  transition: all 2s;
  font-weight: 800;
  font-size: 25px;
}

.choixPlat {
  margin: 0px 19px 30px 19px;
}

.menu {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  display: inline;
  gap: 10px;
  margin-top: 55px;
}
.menu::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 3px;
  background: #99e2d0;
}

.rectangle2 {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  height: 73px;
  justify-content: space-between;
  margin-bottom: 12px;
  gap: 50px;
  margin-top: 20px;
}
.rectangle2:active .prix {
  margin-right: 0px;
}

.texte {
  display: flex;
  overflow: hidden;
}

.descriptionTitre {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
}

.descriptiontTexte {
  margin-top: 5px;
  font-weight: 300;
  font-size: 0.94rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.prix {
  display: flex;
  gap: 20px;
  margin-right: -65px;
  transition: margin-right 0.8s ease-in-out;
  color: #353535;
}

.montant {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0px;
  font-size: 0.9rem;
  font-weight: 800;
  margin-right: 15px;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 73px;
  color: white;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.progress .encoche {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.94rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  padding-left: 10px;
}

.positionBtnCmd {
  display: flex;
  justify-content: center;
}

.button2 {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  margin-top: 16px;
  transition: background 2s;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.button2:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}
.button2 .button a {
  text-decoration: none;
}
.button2 .butoon a:visited {
  text-decoration: none;
  color: inherit;
}

/*_-_-_-_-_-_-_-_-_le responsive des restaurants_-_-_-_-_-_-_-_-*/
@media screen and (min-width: 768px) {
  .en-tete2 {
    height: 96px;
  }
  .fond-arrondi {
    max-width: 1000px;
    align-items: center;
    margin: 0px auto;
  }
  .choixPlat {
    width: 634px;
  }
  .gros-titre h1 {
    margin: 40px 0px;
    font-size: 1.75rem;
  }
  .rectangle2 {
    cursor: default;
  }
  .rectangle2:hover .prix {
    margin-right: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
