@charset "UTF-8";
.main-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

/********Section du logo********/
.en-tete {
  display: flex;
  align-items: center;
  height: 63px;
  width: 100%;
  position: relative;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.en-tete img {
  width: 162px;
  height: 44px;
  padding: 0px;
}

/******Section de la localisation********/
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #eaeaea;
  gap: 17px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.localisation img {
  width: 12px;
  height: 16px;
  align-items: center;
}

/******Section de la réservation des menu**********/
.exploration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 290px;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  padding: 0px 10px;
}
.exploration h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
.exploration p {
  font-size: 18px;
  margin-top: 15px;
  color: #353535;
  font-weight: 300;
}

.button {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  margin-top: 16px;
  transition: background 2s;
}
.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}
.button .button a {
  text-decoration: none;
}
.button .butoon a:visited {
  text-decoration: none;
  color: inherit;
}

/********Section pour le fonctionnement*********/
.position-total {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fonctionnement {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 30px 30px;
  gap: 30px;
  position: relative;
  justify-content: center;
}
.fonctionnement h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  height: 30px;
  width: 100%;
}

.position-rectangle {
  display: flex;
  flex-direction: column;
  left: 0px;
  position: relative;
  justify-content: center;
  width: 100%;
}

.rectangle {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 72.4px;
  margin-bottom: 20px;
  box-sizing: border-box;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 500;
}
.rectangle .pastille {
  display: flex;
  background: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 99px;
  color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  transform: translate(-10px, 0px);
}
.rectangle .petiteIcone {
  display: flex;
  margin: 0px 15px;
  gap: 20px;
}

/******Section de la presentation des différents restaurants***********/
.restaurant {
  background-color: #f6f6f6;
  width: 100%;
  padding: 30px 30px 40px 30px;
  flex-direction: column;
  display: flex;
  text-decoration: none;
  justify-items: center;
}
.restaurant h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  display: flex;
}

.positionCadre {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.cadre {
  background-color: white;
  border-radius: 15px;
  height: 271px;
  position: relative;
  justify-content: center;
}
.cadre img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.cadre .conteneur {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  text-decoration: none;
}
.cadre .conteneur .conteneurTitre {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  margin: 0px;
  padding-top: 10px;
  width: 100%;
  text-decoration: none;
}
.cadre .conteneur .conteneurTexte {
  display: flex;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.cadre .etiquette {
  display: flex;
  background-color: #99E2D0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  height: 29px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  right: 12px;
  top: 12px;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.positionCadre a {
  text-decoration: none;
}

.positionCadre a:visited {
  text-decoration: none;
  color: inherit;
}

.fa-heart.fa-regular {
  color: #353535;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 30px;
  right: 60px;
}

.coeur-rempli {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 30px;
  right: 60px;
  opacity: 0;
  transition: all 2s;
}
.coeur-rempli:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
}

/*****************************Pied de page************************************/
footer {
  background-color: #353535;
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer h3 {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin: 0px;
}

li {
  display: flex;
  padding-top: 7px;
  gap: 10px;
}

/*.....................Le responsive de le pade d'accueil.............................*/
@media screen and (min-width: 768px) {
  .exploration {
    height: 220px;
  }
  .fonctionnement {
    flex-direction: column;
    justify-content: center;
  }
  .fonctionnement .fonctionnement.h1 {
    padding-left: 80px;
  }
  .position-rectangle {
    flex-direction: row;
    gap: 30px;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .petiteIcone {
    flex-wrap: nowrap;
  }
  .restaurant {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .positionCadre {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    display: flex;
  }
  .positionCadre a {
    width: 45%;
  }
  .cadre {
    flex: 100;
  }
  footer {
    height: 54px;
    flex-direction: row-reverse;
    padding: 30px 25px;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
  }
  footer h3 {
    width: 150px;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    align-content: stretch;
  }
  li {
    gap: 10px;
    justify-content: space-around;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1201px) {
  .rectangle {
    width: 360px;
  }
  .position {
    padding-left: 120px;
  }
}
/*-_-_-_-_-_-_-_-Loader_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.loader-container {
  border-radius: 5px;
  background: #333;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  opacity: 0.99;
  animation: stop-loader 0.5s 2s forwards;
}

.loader {
  display: block;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #9356DC;
  animation: spin 2s linear infinite;
}

.loader::before, .loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #99E2D0;
  animation: spin 3s linear infinite;
}

.loader::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: #f6f6f6;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes stop-loader {
  to {
    transform: scale(0);
  }
}
/* -_-_-_-_-_ Les pages des restaurants _-_-_-_-_-_-_-_-_*/
.main-container2 {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.localisation2 {
  display: flex;
  width: 100%;
}
.localisation2 img {
  height: 290px;
  width: 100%;
  object-fit: cover;
}

.en-tete2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 100%;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 28px;
}
.en-tete2 img {
  width: 162px;
  height: 44px;
  padding: 0px;
}

.fleche {
  display: inline-flex;
  color: #353535;
  position: absolute;
  left: 25px;
}

.fond-arrondi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  top: -60px;
  width: 100%;
  position: relative;
  padding: 0px 17px;
}

.gros-titre {
  display: flex;
  font-family: "Shrikhand", serif;
  font-size: 28px;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.gros-titre .coeur-vide {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0px;
  right: 0px;
  /*rajouté pour le test*/
  font-size: 25px;
  /*test*/
}
.gros-titre .coeur-vide:hover {
  background-color: #FF79DA;
  border: none;
}

.entrees {
  margin-bottom: 30px;
}

.menu {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline;
  gap: 10px;
}
.menu::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 3px;
  background: #99e2d0;
}

.sous-titre {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  text-overflow: ellipsis;
}

.description {
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15.043px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  justify-content: space-between;
  overflow: hidden;
}

.rectangle2 {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 73px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 15px;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-between;
}

/**************** test **********************/
.rectangle3 {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  flex-direction: column;
  height: 73px;
  align-items: center;
}
.rectangle3:hover .progress {
  animation: progress 2s ease;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 73px;
  color: white;
  background-color: #99E2D0;
  right: -113px;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 0px;
  transition: all 0.5s;
}

@keyframes progress {
  from {
    right: -100px;
  }
  to {
    right: 0px;
  }
}
.conteneur-descriptif {
  display: flex;
  /*_-_-_-ajout selon modele hihihi-_-_-_-*/
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.description2 {
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15.043px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  justify-content: center;
  overflow: hidden;
  width: 90%;
  flex-direction: column;
  padding-left: 10px;
  position: relative;
}
.description2 span {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 30px;
  padding-right: 8px;
  width: 10%;
  font-weight: 700;
  height: 51px;
  position: absolute;
  right: 0px;
}
.description2 h3 {
  margin: 5px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description2 p {
  margin: 3px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
}

.sous-titre2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.positionBtnCmd {
  display: flex;
  justify-content: center;
}

.button2 {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  margin-top: 16px;
  transition: background 2s;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.button2:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}
.button2 .button a {
  text-decoration: none;
}
.button2 .butoon a:visited {
  text-decoration: none;
  color: inherit;
}

/*_-_-_-_-_-_-_-_-_le responsive des restaurants_-_-_-_-_-_-_-_-*/
@media screen and (min-width: 768px) {
  .fond-arrondi {
    width: 1055px;
    align-items: center;
  }
  .rectangle2 {
    width: 604px;
  }
}

/*# sourceMappingURL=styles.css.map */
