*{
//     // box-shadow: 0 0 0 3px red inset;
        // outline: 1px solid blue;
}


.main-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    // text-decoration:none;

}


body {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    // text-decoration:none;
    
}


a{
    text-decoration: none;
}

/*-_-_-_-_-_-_-_page d'accueil-_-_-_-_-_-_-_-_-_*/

/********Section du logo********/

.en-tete {
    display: flex;
    align-items: center;
    height: 63px;
    width: 100%;
    position:relative;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

        img {
            width: 162px;
            height: 44px;
            padding: 0px;
        
    }
}

/******Section de la localisation********/

.localisation {
    @include flexMilieu;
    height: 50px;
    width: 100%;
    background-color: #eaeaea;
    gap: 17px;
    font-size: 16px;
    font-weight: 500;
    font-family: $font-family;

    img {
        width: 12px;
        height: 16px;
        align-items: center;
    }
}



/******Section de la réservation des menu**********/

.exploration {
    @include flexMilieu;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 290px;
    background-color: $main-bg-color;
    font-family: $font-family;

    h1 {
        @include h1;
        margin: 0px;
    }

    p {
        font-size: 18px;
        margin-top: 15px;
        color: #353535;
        font-weight: 300;
    }
   


}

.button {
    @include btnViolet;
    @include flexMilieu;
    width: 218px;
    margin-top: 16px;
    transition: background 2s;
    
    
    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
        
        
       
    }
}


/********Section pour le fonctionnement*********/

.fonctionnement {
    display: flex;
    height: 375px;
    width: 100%;
    flex-direction: column;
    padding: 0px 30px;
    gap:30px;
    position:relative;
    
    .fonctionnement.h1 {
        @include h1;
        // margin: 40px 0px 0px 0px;
        height: 30px;
    }

       
}


.position {
    display: flex;
    flex-direction: column;
    left:0px;
    position:relative;
      
}


.rectangle {
    display: flex;
    align-items: center;
    @include formeRectangulaire;
    width: 100%;
    height: 72.4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 500;

    .pastille {
        display: flex;
        background: $colorPastille;
        width: 24px;
        height: 24px;
        border-radius: 99px;
        color: #f6f6f6;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        transform: translate(-10px, 0px);
    }

    .petiteIcone {
        display: flex;
        margin: 0px 25px;
        gap: 25px;
       
    }
}



/******Section de la presentation des différents restaurants***********/

.restaurant {
    background-color: $main-bg-color;
    width: 100%;
    padding: 0px 30px;
    flex-direction: column;
    display: flex;
    text-decoration: none;
    justify-items: center;

    h1 {
        @include h1;
    }

   
}

.positionCadre {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 30px;

    


}


.cadre{
    background-color: white;
    border-radius: 15px;
    width:100%;
    height:271px;
    position:relative;
    justify-content: center;

   

    img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit:cover;
        
       
    }
    .conteneur {
        display:flex;
        flex-direction: column;
        width: 100%;
        margin-left: 20px;
        padding: 0px;
        text-decoration:none;

        .conteneurTitre {
            @include h2;
            display: flex;
            margin: 0px;
            padding-top: 10px;
            width:100%;
            text-decoration:none;
        }

        .conteneurTexte {
            display: flex;
            margin: 0px;
            font-family:$font-family;
            font-size: 17px;
            font-weight: 300;
        }

        
    }
    .etiquette {
            display: flex;
            background-color: $colorAnimation;
            color: #008766;
            font-family: $font-family;
            font-size: 14px;
            font-weight: 500;
            width: 80px;
            height: 29px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);         
            right:12px;
            top:12px;
            justify-content: center;
            align-items: center;
            
            position:absolute;
            
           
        }
}




.fa-heart.fa-regular{
    color:$colorFooter;
    position:relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top:30px;
    right: 60px;
    
}

.fa-heart.fa-solid{    
    position:relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top:30px;
    right: 60px;
    opacity: 0;
    transition: all 2s;
    
    &:hover{
        opacity:1;
        color:transparent;
        // background-image: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        
    }


    // &:hover{
    //     opacity:1;
    //     background: linear-gradient(#9356DC 40%, #FF79DA 60%);
    //     background-clip: border-box;
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;


    // }

}


/*****************************Pied de page************************************/

footer {
    background-color: $colorFooter;
    width: 100%;
    color: white;
    font-family: $font-family;
    padding: 0px 25px 22px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

        h3 {
            font-family: "Shrikhand", serif;
            font-size: 18px;
            font-weight: 400;
            width: 100%;
            margin-top: 15px;
            margin-bottom: 10px;
        
        }
}


ul {
    list-style: none;
    padding-left: 0px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    margin: 0px;

   
}



li {
    display: flex;
    padding-top: 7px;
    gap: 10px;

   
}

/* -_-_-_-_-_ Les pages des restaurants _-_-_-_-_-_-_-_-_*/

.localisation2{
    display: flex;
    width: 100%;

        img{
            height: 290px;
            width: 100%;
            object-fit: cover;
        }
}


.en-tete2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    img {
        width: 162px;
        height: 44px;
        padding: 0px;
    }
}

.fa-arrow-left{
    display:inline-flex;
    color:$colorFooter;
    position: absolute;
    left:25px;

}

.fond-arrondi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $main-bg-color;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    top:-60px;
    width: 100%;
    position:relative;
    padding: 0px 17px;
       

}


.gros-titre {
    display: flex;
    font-family: "Shrikhand", serif;
    font-size: 28px;
    flex-direction: row;
    align-items: center;
    gap:20px;
    
        .fa-heart.fa-regular{
            color:$colorFooter;
            position:relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            top:0px;
            right: 0px;
            
        }

        .fa-heart.fa-solid{
            position:relative;
            display: flex;
            top:0px;
            right:44px;
            opacity: 0;
            transition: all 1s;
            
            &:hover{
                opacity:1;
                // color:$colorAnimation;
                background-image: linear-gradient(193deg, #9356DC 50%, #FF79DA 50%);
                background-clip: text;
                
            }
        }
    
}


.entrees{
    margin-bottom: 30px;
  
}


.menu {
    color: black;
    font-family: $font-family;
    font-size: 16px;
    font-weight:300;
    display:inline;
    gap:10px; 

    &::after {
        content:"";
        display: block;
        position: absolute;
        width: 40px;
        height: 3px;
        background: #99e2d0;
        
    

    }
}


.sous-titre{
    font-family: $font-family;
    font-size: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 
}


.description{
    display:flex;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 15.043px;
    font-family: $font-family;
    font-weight: 400;
    justify-content:space-between;

    span{
        display: flex;
        font-weight: 500;
        
    }
}


.rectangle2 {
    display: flex;
    @include formeRectangulaire;
    width: 100%;
    height: 73px;
    margin-bottom: 20px;
    box-sizing:border-box;
    padding:15px;
    flex-direction: column;
    margin-top:20px;
    justify-content: space-between;
    
    &:active { 
        &+ .progress{
            transform:scaleX(1);

        }
            
        }
}


.progress{
    width: 100px;
    height: 73px;
    border: 1px solid black;
    color:$colorAnimation;
    transform:scaleX(0);
}


/* test */

.rectangle3 {
    display: flex;
    @include formeRectangulaire;
    width: 100%;
    height: 73px;
    margin-bottom: 20px;
    box-sizing:border-box;
    padding:15px;
    flex-direction: column;
    margin-top:20px;
    justify-content: space-between;

        @media screen and (min-width:768px) and (max-width:1440px) {
            width:604px;
        }
    
    // &:active { 
    //     &+ .progress{
    //         transform:scaleX(1);

    //     }
            
    //     }
}
.progress{
    width: 100px;
    height: 73px;
    border: 1px solid black;
    color:$colorAnimation;
    // transform:scaleX(0);

        // &__bar{
        //     color:red;
        //     transform:scaleX(0);
        // }
}


.sous-titre2{
    font-family: $font-family;
    font-size: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
             
    }


.description2{
    display:flex;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 15.043px;
    font-family: $font-family;
    font-weight: 400;
    justify-content:space-between;
            
        span{
            display: flex;
            font-weight: 500;
                    
        }
}


/*.....................Le responsive de le pade d'accueil.............................*/


@media screen and (min-width:768px) {
    
    .exploration {
        height: 220px;

    }


    .fonctionnement {
         height: 298px;
         padding: 20px 80px;
         flex-direction: column;
            
           .fonctionnement.h1{
               padding-left:80px;
           }
           
        } 

        
    .position{
        flex-direction: row;
        gap:50px;
        flex-wrap: nowrap;
        top: 120px;
        position:absolute;
        padding-left: 80px;
                      
        }

    .petiteIcone{
        flex-wrap: nowrap;
    }
      
    .restaurant{
       padding: 0px 120px;
            
    }

    .positionCadre{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap:30px;
    }

   
    .cadre{                           //cadre des restaurrants de le page d'accueil
        width:590px;
        
    }

    footer{
        height: 54px;
        flex-direction: row-reverse;
        padding: 30px 25px;
        justify-content: flex-end;
        align-items: center;
        gap:50px;

            h3{
                width: 150px;
            }
           
    }

    ul{
        display: flex;
        justify-content: flex-end;
         align-content: stretch;
            
    }

    li{
        gap: 10px;
        justify-content: space-around;
        margin-right: 20px;
    
    }

}   
       


@media screen and (min-width:1201px) {

    .fonctionnement{
        height: 220px;
        padding: 20px 120px ;


       .fonctionnement.h1 {
            padding-left:120px;

        }
    
    }

    .rectangle{
        width: 360px;
    }

    .position{
        padding-left: 120px;
    }


}






/*_-_-_-_-_-_-_-_-_le responsive des restaurants_-_-_-_-_-_-_-_-*/


@media screen and (min-width:768px) {
    

    .fond-arrondi{
        
            width: 1055px;
            margin: 0px 189px;
            align-items: center;
        
    }

    .rectangle2{
       
            width:604px;
    }
                                 
}



/*-_-_-_-_-_-_-_-Loader_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

.loader-container {
    border-radius: 5px;
    background: #333;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index:1;
    opacity: 0.99;
    animation: stop-loader 0.5s 2s forwards;
}

.loader{
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: #9356DC;
    animation: spin 2s linear infinite;

}

.loader::before, .loader::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 7px solid transparent;
}

.loader::before{
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color:$colorAnimation;
    animation: spin 3s linear infinite;
    
}

.loader::after{
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-top-color: #f6f6f6;
    animation: spin 1.5s linear infinite;
    

}

@keyframes spin {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes stop-loader {
    to { transform: scale(0); }
}


