$font-family: "Roboto", sans-serif;
$text-decoration:none;
$main-bg-color: #f6f6f6;
$button-gradient: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$colorPastille: #9356dc;
$colorAnimation:#99E2D0;
$colorFooter: #353535;

 
