$font-family: "Roboto", sans-serif;
$text-decoration: none;
$main-bg-color: #f6f6f6;
$button-gradient: linear-gradient(175deg, #ff79da 30%, #9356dc 70%);
$colorPastille: #9356dc;
$colorAnimation:#99E2D0;
$colorFooter: #353535;

