$font-family: "Roboto", sans-serif;
$text-decoration:none;
$main-bg-color: #f6f6f6;
$button-gradient: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);    //degrade pour le bouton
$colorPastille: #9356dc;                                                              //couleur pour la petite pastille violette qui est sur le rectangle
$colorAnimation:#99E2D0;                                                //couleur vert claire de l'animation
$colorFooter: #353535;

 
