$font-family: "Roboto", sans-serif;
$text-decoration: none;
$main-bg-color: #f6f6f6;
$button-gradient: linear-gradient(175deg, #ff79da 30%, #9356dc 70%);


@mixin btnViolet{
    height: 50px;
    border-radius: 25px;
    background:$button-gradient;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    font-family: $font-family;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin flexMilieu{
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-container {
    display: flex;
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

body {
    display:flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.en-tete {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 89px 13px 80px;
    height: 63px;
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    img {
        width: 162px;
        height: 44px;
        padding: 0px;
    }
}

.localisation {
    @include flexMilieu;
    height: 50px;
    width: 100%;
    background-color: #eaeaea;
    gap: 17px;
    font-size: 16px;
    font-weight: 500;
    font-family: $font-family;

    img {
        width: 12px;
        height: 16px;
        align-items: center;
    }
}



.exploration  {
    @include flexMilieu;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 290px;
    background-color: $main-bg-color;
    font-family:$font-family;
         h1 {
            font-size: 24px;
            font-weight: 700;
            margin: 0px;
            }
    
         p {
            font-size: 18px;
            margin-top: 15px;
            color:#353535;
            font-weight: 300;
            
            
            }

            .button {
                @include btnViolet;
                @include flexMilieu;
                width: 218px;
                margin-top: 16px;
               
            }
}


